// --- 1. Variables & Configuration ---
:root {
  --bcolor1:   #9bbb59; // Vert (Niveau 1)
  --bcolorm: #4aabc5; // Bleu ciel (Blocs/Chefs)
  --bcolor2:    #e36b09; // Orange (Niveau 2)
  --bcolor3:      #4e80bc; // Bleu foncé (Niveau 3)
  --border:    #006666;
  --color1:    #fff;
  --color2:    #fff;
  --color3:    #fff;
  --shadow:    #000000;
  --boxwidth: 30em;
}

$connector-thickness: 1px;

// --- 2. Mixins (Outils de génération) ---

// Pour les traits verticaux de connexion
@mixin vertical-line($height, $top: null, $bottom: null) {
  position: absolute;
  width: $connector-thickness;
  height: $height;
  right: 50%;
  border-right: $connector-thickness solid var(--border);
  @if $top { top: $top; }
  @if $bottom { bottom: $bottom; }
}

// Pour les boutons (+ / - / ▲)
@mixin icon-button($char) {
  a::before {
    content: $char;
  }
}

// --- 3. Styles Principaux ---

div.orgtooltip {
  position: absolute;
  display: none;
  box-shadow: 5px 5px 10px var(--shadow);
  z-index: 10;
  flex-flow: row nowrap;
  flex: auto;
  align-content: middle;
  background-color: white;
  
  figure {
    width: 10em;
    img {
      max-width: 100%;
      max-height: 20em;
      vertical-align: middle;
      margin: 0;
    }
  }
  
  div {
    margin: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-items: space-evenly;

    .nom {font: 1.4rem bold sans-serif;}
  }
  
}

#organigramme {
  font-size: 14px;
  position: relative;
  margin: auto;
  width: fit-content;
  height: fit-content;

  * { box-sizing: border-box; }

  .entite {
    position: relative;
    width: fit-content;
    margin: 2em 1em 0 1em;

    > .nom {
      text-align: center;
      background-color: var(--bcolor1);
      border: 1px solid var(--border);
      color: var(--color1);
      padding: 0.5em 1.5em;
      font-weight: bold;
      width: var(--boxwidth);
      margin: 0 auto;
      position: relative;

      .button {
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        border: 1px solid var(--color1);
        border-radius: 0.2em;
        text-align: center;
        
        &:hover { 
          box-shadow: 2px 2px 4px 2px gray; 
          background-color: var(--color1);
          a {color: var(--bcolor1);}
        }
        a { text-decoration: none; color: var(--color1); padding: 0.1em; }

        &.fold { right: 0.2em; top: 0.1em; @include icon-button("▲"); }
        &.zoom { left: 0.2em; top: 0.1em; @include icon-button("+"); }
      }
    }

    // Gestion de la hiérarchie des couleurs
    .entite > .nom { 
      background-color: var(--bcolor2); 
      color: var(--color2);
      .button:hover a {color: var(--bcolor2);}
    }
    .entite .entite > .nom { 
      background-color: var(--bcolor3); 
      color: var(--color3);
      .button:hover a {color: var(--bcolor3);}
    }

    > .direction {
      margin: 0 auto 1em auto;
      width: var(--boxwidth);
      position: relative;
      .shtop { @include vertical-line(1em, $top: 100%); }
    }

    > .contenu {
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
      width: fit-content;

      > .bloc {
        margin: 1em 0;
        width: var(--boxwidth);
        position: relative;

        > .intitule {
          background-color: var(--bcolorm);
          border: 1px solid var(--border);
          color: var(--color1);
          text-align: center;
          padding: 0.5em 0.1em;
          font-weight: bold;
        }

        > .contenu {
          width: 100%;
          margin-top: -1px;
          border: 1px solid var(--border);
        }

        > .shadow { @include vertical-line(1em, $bottom: 100%); }
      }
    }

    // Connecteurs horizontaux
    > .shbottom {
      position: absolute;
      bottom: 100%;
      width: calc(50% + 1em);
      height: 2em;
      border-top: $connector-thickness solid var(--border);

      &.left { right: 50%; border-right: $connector-thickness solid var(--border); }
      &.right { left: 50%; }
    }

    &:first-of-type > .shbottom.left,
    &:last-of-type > .shbottom.right { border-top-style: none; }
  }

  // --- 4. États Dynamiques ---
  .entite {
    &.folded {
      > .nom > .button.fold { @include icon-button("▼"); }
      > .direction > .shtop, > .singletons, > .contenu { display: none; }
    }
    &.zoomed {
      > .nom > .button.zoom { @include icon-button("-"); }
    }
    &.hidden {
      > .shbottom, > .nom, > .direction, > .singletons,
      > .contenu > .entite:not(.zoomed):not(.hidden),
      > .contenu > .entite.zoomed > .shbottom { display: none; }
    }
  }

  // --- 5. Singletons & Postes ---
  .singletons {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;

    > .shadow { @include vertical-line(100%); }

    .singletonb {
      width: 50%;
      position: relative;
      margin: 1em 0;

      .singleton {
        width: var(--boxwidth);
        margin: 0;
        .contenu > .bloc > .contenu { border: 1px solid var(--border); margin-top: -1px; }
      }

      .shadow {
        position: absolute;
        bottom: 100%;
        border-top: $connector-thickness solid var(--border);
        width: calc(100% - 1em - var(--boxwidth) / 2);
        height: 1em;
      }

      &:nth-of-type(odd) {
        .shadow { right: calc(1em + var(--boxwidth) / 2); border-right: $connector-thickness solid var(--border); }
        .singleton { margin: 0 1em 0 auto; }
      }

      &:nth-of-type(even) {
        .shadow { left: calc(1em + var(--boxwidth) / 2); border-left: $connector-thickness solid var(--border); }
        .singleton { margin-left: 1em; }
      }
    }
  }

  .poste {
    display: flex;
    align-items: center;
    margin: 0.8em 0;

    .photo {
      flex: 0 0 20%;

      figure {
        flex: 1;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        position: relative;
      }

      img {
        width: 4em; height: 4em; border-radius: 2em;
        margin: auto;
        object-position: center center;
        object-fit: cover;
      }
    }

    .bloc {
      flex: 1;
      .intitule { text-align: center; }
      .agent {
        text-align: center;
        font-weight: bold;
        &[data-origin="MNHN"], &[data-origin="IRD"] { color: #ff0000; }
        &[data-status="HP"] { color: #ff00ff; }
      }
    }

    &.chef {
      border: 1px solid var(--border);
      margin: -1px 0 0 0;
      .bloc > .intitule { 
        background-color: var(--bcolorm); 
        color: var(--colorm); 
        border-left: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
        padding: 0.5em;
      }
      .bloc > .agent { background: var(--color1); border-left: 1px solid var(--border); padding: 0.5em; }
    }
  }
}

#configuration {
  background-color: LightBlue;
  color: black;
  box-shadow: 5px 5px 10px var(--shadow);
  border: 1px solid var(--border);

  &::backdrop {
    background-color: black;
    opacity: 10%;
  }

  h1 {
    font-size: 1.4rem;
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;

    div.parameter {
      display: flex;
      flex-flow: row nowrap;
      flex: auto;
      align-items: center;
      margin: 0.5em 0.2em;

      label { width: 20em; }
      input { width: 20em; }
    }

    button {
      position: absolute;
      top: 0.2em;
      right: 0.2em;
      padding: 0.1em;
      border: 1px solid white;
      border-radius: 2px;
      background-color: azure;

      &:hover {
          background-color: aliceblue;
          box-shadow: 0 2px 10px 0px rgba(0,0,0,0.3);
      }

    }
  }
}
